h4,h5,h6,h3,h2{
font-family: 'Montserrat-Bold', sans-serif;
}

body{
  text-align: center;
  font-size: 20px;
    font-weight: 300;
}

p{
  color: #8f8f8f;
}


#title{
background-color: #ff4c68;
}


.iphone{
 transform: rotate(25deg);

position: absolute;
width: 310px;
height: 550px;
right: 20%;
}

/*features*/

.feature-text
{
    font-size: 1.5rem;
}
#features{
padding: 7% 15%;
  background-color: #fff;
position: relative;
z-index: 1;
}



/*testimonials*/
#testimonials{
  background-color: #ef8172;
  color: #fff;
}

.testimonials-text{
  font-size: 2rem;
  line-height: 1.5;
}

.testimonials-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}


/*navbar*/
.navbar-brand{
  font-family: 'Ubuntu';
    font-size: 30px;
    font-weight: bold;
}
.navbar{
  padding-bottom: 20px;
}
.nav-item{
  padding: 0 18px;
    font-family: "Montserrat-light";
}
.nav-link{
  font-size: 1.2rem;
    font-family: 'Ubuntu';
  font-weight:400;
}
.download-button{
  margin: 5% 3% 5% 0;
}
.navbar-lel{
    padding-left: 0%;
    padding-right:7%;
  padding-bottom: 2%;
    padding-top: 2%;
}
.navbar-settings{
  padding: 0;
}




.Container-fluid{
    padding-top: 2%;
    padding-left: 3%;
      padding-right:7%;
    padding-bottom: 5%

}







  /*  Features*/
.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover{
  color: #ff4c68;
}

.carousel-item{
    padding: 7% 15%;
}

#press{
background-color:#ef8172;
  padding-bottom: 3%;
}
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}
.btn-block{
  display: block;
  width: 100%;
}




/*pricing*/

#pricing{
  padding: 100px ;

}
.pricing-coloum{
  padding: 3% 4%;
}
.pricingsec
{
  font-size: 2rem;
  line-height: 1.5;
}
.section-text
{
  font-size: 2.5rem;
  line-height: 1.5;
}
.pricing-head
{
  font-size: 2rem;
}


/*cta*/
#cta{
background-color: #ff4c68;
}
.cta-measure{
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 1000;
padding: 7% 10%;
  color: white
}



#footer{

    padding:7% 15%;
    font-size: 1rem;
}
.social{
  margin: 5px;
}




/*big-heading*/
.big-heading{
  font-family: 'Montserrat, sans-serif';
  font-size: 3.5rem;
  line-height: 1.5;
      margin-bottom: 50px;
  font-weight: 900;
  color: white;
  text-align: left;
  width: 440px;
}




@media (max-width: 1028px)
{
  #title{
    text-align: center;

  }
  .iphone{
  position: static;
  transform: rotate(0);
  }
}
